/*
    nav bg color: #3a4b53

*/

.custom-nav-bg {
    background-color: transparent!important;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.custom-nav-bg li {
    background-color: transparent!important;
    padding: 0;
    margin: 0;
}

.custom-nav-bg-solid {
    background-color: #3a4b53!important;
}

.view {
    background: url("../img/op/bg.jpg")no-repeat center center fixed;
    background-size: cover;
}

.quote {
    background: url("../img/op/quoteBG.jpg")no-repeat center center fixed;
    background-size: cover;
    height: 250px; 
    position: relative;
}

.viewOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

.custom-h1 {
    font-size: 2.5rem;
}

.custom-h2 {
    position: absolute;
    top: 65%;
    font-size: 1.45rem;
    font-weight: 200;
}

.custom-h4 {
    font-size: 1.1rem;
}

.custom-section-heading {
    text-align: center;
}

.custom-fluid-img {
    width: 100%;
    padding: 0.5rem;
}

.scrolling-navbar {    
    padding: 1.5rem 1rem;
    -webkit-transition: background-color 600ms, padding 0.4s;
    -o-transition: background-color 600ms, padding 0.4s;
    transition: background-color 600ms, padding 0.4s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        /*cubic-bezier(.66,-0.39,.42,1.52);*/
}

.small {
    padding: 0.75rem;
    font-size: 1.2em!important;
}

.navbar ul {
    font-size: 1.1rem!important;
}

.dark-blue {
    background-color: #37474F!important;    
}

.p-t-1 {
    padding-top: 1rem;
}

.p-t-2 {
    padding-top: 2rem;
}

.p-t-3 {
    padding-top: 3rem;
}

.neg-mg-top-1 {
    margin-top: -20px;
}

.p-b-3 {
    padding-bottom: 3rem;
}

.section, .section-heading {
    margin-bottom: 2.25rem!important;
}

.streak {
    display: block;
    position: relative;
    overflow: hidden;
    background: #e5e5e5;
    height: 250px;
}

.center-text {
    text-align: center;
}

.custom-fa {
    font-size: 4rem;
    padding: 1rem;
}

.custom-skills {
    -webkit-box-shadow: 0!important;
            box-shadow: 0!important;
}

.custom-quote {
    font-size: 11px;
}

.custom-list-item {
    border-right: 0;
    border-left: 0;
}

.custom-list-item:first-child {
    border-top:0;
}

.img-fluid {
    width: 100%;
    margin-bottom: 1rem;
}

.block {
    display: block!important;
    width: 188px!important;
}

.custom-button {
    margin-top:2em;
}

.modalCard {
    width: 80%;
    margin: 0 auto;
}

.modalDescription {
    margin-bottom: 1.25em !important;
}

.killMarginLeftRight {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.bold {
    font-weight: 800;
    text-align: center;
    margin: -25px auto 25px auto;
}

.typing {

    white-space: nowrap;
    overflow: hidden;
    animation: type 1.15s steps(17,end);
    width: 10em;
}

@keyframes type{
    from {
        opacity: 0;
        width: 0;
    }
}


/* Successful mail sent message */

span {
    display: inline-block;
}


.successMessage {
    margin: 0 auto;
    max-width: 250px;
    font-size: 2em;
}


/*
    Media Queries
*/


@media (min-width: 544px) {
    .custom-h1{
        font-size: 3rem;  
    } 
    
    .custom-h4 {
        font-size: 1.1rem;
    }
    
    .custom-h2 {
        font-size: 1.33333rem;
    }
}


@media (min-width: 768px) {
    .custom-h1 {
        font-size: 4.5rem;
        padding-bottom: 2rem;
    }
    
    .custom-h2 {
        font-size: 2rem;
    }
    
    .custom-h4 {
        font-size: 1.15rem;
    }
    
    .custom-navbrand {
        font-size: 1.35rem;
    }
    
}


@media (min-width: 1024px) {
    .custom-navbrand {
        font-size: 1.35rem;
    }
}


